#main-div{
    display: flex;
    width: 80%;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 10px;
    margin: auto;
    padding: 50px;
}


#album-cover-div{
    width: 20%;
    margin: auto;
}

#album-cover{
    width: 100%;
}

#songs-container{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
}