nav{
    height: 5vh;
}

#navbarSupportedContent{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-link{
    margin-right: auto;
}

#favorite-search-container{
    display: flex;
    justify-content: space-between;
}

#favorites-link{
    margin-right: 20px;
}

h1{
    margin-right: auto;
}