#form-container{
    margin: auto;
    margin-top: 20vh;
    width: 30%;
}

.carousel{
    margin-top: 50px;
}

.carousel-indicators{
    bottom: -50px;
}

.card-body{
    color: black;
}

.card{
    margin: auto;
}